@import "../../styles/abstracts/variables.scss";
@import "../../styles/abstracts/functions";

.searchBar {
  display: flex;
  align-items: center;
  background-color: $bg-searchBar;
  border-radius: 100px;
  border: 1px solid $border-color;
  justify-content: space-between;
  gap: $spacing-md;
  padding: $spacing-sm;
  width: 100%;

  &:focus-within {
    border: 1px solid $bg-searchBtn;
    box-shadow: 0 0 0 3px rgba(255, 177, 0, 0.3);
  }

  &__searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    min-width: 35px;
    border-radius: 100%;
    background-color: $bg-searchBtn;
    border: none;
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
    &--icon {
      font-size: px-to-rem(20);
      color: white;
    }
  }
  &__input {
    border: none;
    outline: none;
    width: 100%;
    color: $text-color;
    font-size: px-to-rem(16);
    background-color: transparent;
    cursor: pointer;
  }

  &__sortButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: $spacing-sm;
    color: $text-color;
    &:hover {
      color: $bg-searchBtn;
      transform: scale(1.2);
      transition: all 0.3s ease-in-out;
    }

    &--icon {
      font-size: px-to-rem(25);
    }
  }
}
