arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/t10k-images-idx3-ubyte
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/train-images-idx3-ubyte
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/train-labels-idx1-ubyte
arc/ai/Uddav-Rajbhandari/Neural Network intro to dl/source code/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
