* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    padding: 10px;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery .wide {
    grid-column: span 2;
}

.gallery .tall {
    grid-row: span 2;
}

.gallery .big {
    grid-column: span 2;
    grid-row: span 2;
}

/*  Mobile Responsive */
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    }

    .gallery .wide
    {
         grid-row: span 1;
    }
    .gallery .tall{
        grid-column: span 1;
    }
    .gallery .big {
        grid-column: span 1;
        grid-row: span 1;
    }
}
