* {
    margin: 0px;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(2, 3, 2);
    color: rgb(237, 242, 246);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 10%;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(20px);
    align-items: center;
    box-shadow: 0px 2px 8px rgb(136, 136, 136);
}

header h1 {
    font-family: "Dancing Script", cursive;
}

header nav a {
    margin: 10px;
    text-decoration: none;
    border-top: 1px solid rgb(255, 254, 254);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    color: rgb(237, 242, 246);
}

nav a:hover {
    background-color: rgb(25, 105, 79);
    border: none;
    transition: .25s ease;
}

#hero {
    display: flex;
    height: 90vh;
}

/* hero left style */
.hero-left {
    width: calc(50% - 60px);
    padding: 80px 50px;
}

.hero-left h3 {
    font-size: 50px;
}

.hero-left h1 {
    font-size: 60px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    margin-bottom: 50px;
}

.hero-left p {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero-btn1,
.hero-btn2 {
    font-size: 17px;
    height: 40px;
    width: 90px;
    border: none;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(202, 180, 180);
    transition: .3s all ease;
}

.hero-btn2 {
    background: rgba(45, 51, 72, 0.963);
    box-shadow: 4px 4px 8px rgb(137, 101, 101);
    color: white;
}

.hero-btn1:hover {
    cursor: pointer;
    background-color: rgba(204, 22, 162, 0.763);
    color: white;
    box-shadow: 3px 3px 8px rgb(225, 11, 172);
    transform: translateY(-5px);

}

.hero-btn2:hover {
    cursor: pointer;
    background-color: rgba(41, 235, 200, 0.974);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 8px rgba(12, 228, 247, 0.955);
    transform: translateY(-5px);
}

/* hero left style */

/* hero right style */
.hero-right {
    width: calc(50% - 60px);
}

.hero-right img {
    display: block;
    margin: 60px auto;
    max-width: 90%;
    height: 80%;
    border-radius: 20% 0 20% 0;
    background: rgba(194, 184, 184, 0.19);
}

/* about section */
#about h2 {
    margin-top: 40px;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    font-weight: 100;

}

.me-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.me {
    margin: 10px auto;
    width: 250px;
    background-color: #1e293b;
    /* deep navy */
    color: #f8fafc;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}

.me p {
    margin: 10px 0px;
}

.me-container .me:last-child:hover {
    cursor: pointer;
}

.me i {
    font-size: 24px;
    color: #f8fafc;
    transition: color 0.3s ease, transform 0.3s ease;
}

.me-container .me:last-child:hover i {
    color: #f6ca1c;
}

.edu h3 {
    margin: 30px 0;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
}

.edu table {
    font-size: 21px;
    margin: 0 auto;
    width: 80%;
}

.edu table td,
th {
    padding: 10px 30px;
}

/*  about me */

/* skils */
#skills h2 {
    margin-top: 40px;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
}

.skills-container {
    margin: 40px auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.program {
    font-size: 25px;
    font-weight: 100;
}

/* progress bar */
.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgb(78, 61, 61);
    border-radius: 15px;
    margin: 20px 0;
}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -500%;
    right: 0;
    color: white;
    font-size: 18px;
}

.progress-line {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: rgb(185, 154, 236);
    border-radius: 20px;
    top: -30%;
}

/* my works */
#myprojects h2 {
    margin-top: 40px;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
}

.project-container {
    margin: 0 40px;
    display: flex;

    gap: 20px;
}

.project {
    margin: 30px 10px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    align-items: center;
}

.project h3 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
}

.project p {
    font-size: 22px;
    text-align: justify;
}

.project button {
    height: 40px;
    width: 90px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background-color: #a0a8b5;
    display: block;
}

.project button:hover {
    cursor: pointer;
    transform: scale(1.052);
}

/* footer */
#contact {
    padding: 40px;
    display: flex;
}

.contact-left {
    font-size: 20px;
    width: 30%;
}

.contact-left p {
    margin-top: 10px;
}

.contact-left a {
    text-decoration: none;
    color: white;
}

.contact-right {
    width: 70%;
    font-size: larger;
}

.contact-right input {
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: block;
    /* Required to let margin auto work */
    margin: 0px auto;
}
.form__input--disabled {
  /* styles for disabled modifier */
  background-color: #eee;
  cursor: not-allowed;
  opacity: 0.5;
}
.contact-right textarea {
    width: 50%;
    height: 80px;
    border-radius: 10px;
    display: block;
    /* Required to let margin auto work */
    margin: 20px auto;
}

.contact-right button {
    height: 40px;
    width: 80px;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    /* Required to let margin auto work */
    margin: 20px auto;
    cursor: pointer;
}

.contact-right input::placeholder,
.contact-right textarea::placeholder {
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
}

.contact-right button:hover {
    background-color: #96abcb;
    box-shadow: 2px 1px 5px beige;
}

.credit {
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
    text-align: left;
}

/*small mobile responsiveness */
@media (max-width:385px) {
    header {
        height: 20px;
        padding: 10px 20px;
    }

    #hero {
        flex-wrap: wrap;
        height: 90vh;

    }

    .hero-left {
        text-align: center;
        width: 100%;
        padding: 10px 80px;
    }

    .hero-left h2 {
        font-size: 19px;
    }

    .hero-right {
        width: 100%;
    }

    .hero-right img {
        height: 60%;
        max-width: 100%;
        margin: 20px auto;
    }

    .hero-left h3 {
        font-size: 15px;
    }

    .hero-left h1 {
        font-size: 30px;
        margin-bottom: 10px;
        font-family: "Dancing Script", cursive;
    }

    .hero-left p {
        font-size: 15px;
    }

    header nav a {
        display: none;
    }

    .hero-left aside {
        display: none;
    }

    .hero-btn1,
    .hero-btn2 {
        font-size: 10px;
        height: 20px;
        width: 50px;
    }

    /* about me */
    .me-container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .me {
        width: 100px;
        font-size: 15px;
        gap: 20px;
    }

    #about h2 {
        font-size: 25px;
    }

    .edu h3 {
        margin: 10px 0;
        font-size: 20px;
        font-weight: 100;
    }

    .edu table {
        font-size: 17px;
        margin: 0 auto;
        width: 80%;
    }

    .edu table td,
    th {
        padding: 5px 10px;
    }

    .program {
        font-size: 17px;
    }

    /* myskills */
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: 90%;
    }


    #skills h2 {
        font-size: 25px;
    }

    /* my projects */
    #myprojects h2 {
        font-size: 20px;
    }

    .project-container {
        flex-direction: column;
        margin: 0px;
    }

    .project {
        padding: 15px;
        width: 70%;
        margin: 10px auto;
    }

    .project h3 {
        font-size: 20px;
    }

    .project p {
        font-size: 17px;
    }

    .project button {
        height: 30px;
        width: 80px;
    }

    #contact {
        flex-direction: column;
    }

    .contact-left {
        width: max-content;
        margin-bottom: 40px;
        font-size: 15px;
    }

    .contact-right {
        width: 100%;

    }

    .contact-right input,
    .contact-right textarea {
        width: 100%;
        font-size: 20px;
    }

    .contact-right input {
        height: 20px;
    }

    .contact-right textarea {
        height: 50px;
    }

    .contact-right input::placeholder,
    .contact-right textarea::placeholder {
        font-size: 12px;
    }

    .contact-right button {
        font-size: small;
        height: 30px;
    }

    .credit {
        font-size: 15px;
    }
}

/* tablet responsiveness */
@media  (min-width: 386px) and (max-width: 768px)  {
    .hero-left {
        width: 50%;
        padding: 80px 0 0px 50px;
    }

    .hero-left h1 {
        margin-bottom: 10px;
    }

    .hero-left h3 {
        font-size: 30px;
    }

    .hero-left p {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .hero-left aside {
        font-size: 15px;
        margin-top: 10px;
    }

    .hero-right {
        width: 50%;
    }

    .hero-right img {
        padding: 40px auto;
    }

    .hero-btn1,
    .hero-btn2 {
        margin-top: 20px;
    }

    /* about */
    #about h2 {
        font-size: 25px;
    }

    .me-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2px;
        margin: 5px auto;
    }

    .me {
        margin: 10px auto;
        font-size: 16px;
        width: 120px;
    }

    .edu h3 {
        font-size: 22px;
    }

    .edu table {
        font-size: 15px;
        width: 90%;
    }

    .edu table td {
        padding: 10px;
    }

    #skills h2 {
        font-size: 25px;
    }

    .skills-container {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }

    .program {
        font-size: 18px;
    }

    .progress-bar::after {
        font-size: 15px;
    }

    #myprojects h2 {
        font-size: 25px;
    }

    .project-container {
        margin: 0px 10px;
        gap: 0;
    }

    .project {
        padding: 10px;
    }

    .project h3 {
        font-size: 22px;
    }

    .project p {
        font-size: 15px;
    }

    .project button {
        height: 30px;
        width: 80px;
        font-size: 13px;
    }

    .contact-left {
        font-size: 16px;
    }

    .contact-right input {
        height: 25px;
    }

    .contact-right input,
    .contact-right textarea {
        margin: 0px auto;
        width: 70%;
        padding-left: 10px;
    }

    .contact-right input::placeholder,
    .contact-right textarea::placeholder {
        font-size: 12px;
    }

    .contact-right button {
        font-size: 12px;
        height: 25px;
    }

    .credit {
        font-size: 15px;
    }
}