* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #fd6f00;
  --border-color:#2f2e2e;
  --text-color:#ffffff;
  --hover-color: #ff8c00;
}
body {
  max-width: 1440px;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  color:var(--text-color);
  border: 1px solid var(--border-color);
}

@media screen and (min-width: 1441px) {
  body {
    width: 1351px;
    margin: 0 auto;
  }
}

header {
  padding: 20px 0px;
  margin-left: 100px;
  margin-right: 50px;
  align-items: center;
  display: flex;
  justify-content: right;

  @media screen and (min-width: 1024px) {
    padding: 50px 0px 50px 62.5px;
    margin: 0px 100px;
  }

  @media screen and (min-width: 1320px) {
    margin: 0px 187.5px;
  }
}

.main-nav {
  display: none;
  gap: 60px;
  align-items: center;
  padding: 8px 0px;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}
.menu-icon {
  display: flex;
  color: var(--hover-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.main-nav a {
  text-decoration: none;
  color:var(--text-color);
  white-space: nowrap;
}
.main-nav li a:hover {
  color: var(--primary-color);
  transition: color 0.3s ease;
  text-decoration: underline;
}
.main-nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 19px;

  @media screen and (min-width: 1320px) {
    font-size: 21px;
  }
}

.download-btn {
  padding: 17px;
  background-color: var(--primary-color);
  color:var(--text-color);
  border-radius: 4px;
  font-size: 19px;

  @media screen and (min-width: 1320px) {
    font-size: 21px;
  }
  text-decoration: none;
}

.download-btn:hover {
  color:var(--text-color);
  text-decoration: underline;
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}

/* styling hero section */
.hero-section {
  display: flex;
  align-items: center;
  border: var(--border-color) solid 2px;
  border-radius: 5px;
  padding: 0px 10.5px;
  margin: 0px 8px;
  gap: 8px;
  @media screen and (min-width: 500px) {
    padding: 0px 17.5px;
    margin: 0px 10px;
    
    
  }
  @media screen and (min-width: 1024px) {
    margin: 0px 100px;
    gap: 110px;
  }
  @media screen and (min-width: 1320px) {
    margin: 0px 187.5px;
  }
}

.hero-content {
  width: 65%;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    padding-top: 70px;
    padding-bottom: 20px;
  }
}

.intro-text p {

    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1px;
  @media screen and (min-width: 500px) {
     font-size: 25px;
  margin-bottom: 10px;
    
  }
}

.intro-text h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  @media screen and (min-width: 500px) {
    font-size: 37px;
   line-height: 45px;
    
  }
  @media screen and (min-width: 1024px) {
    font-size: 70px;
    line-height: 80px;
    text-align: right;
  }
}
.intro-text h2 span {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: left;
  line-height: 24px;
  @media screen and (min-width: 500px) {
    font-size: 27px;
    line-height: 40px;
    
  }
  @media screen and (min-width: 1024px) {
    font-size: 35px;
    line-height: 30px;
  }
}

#description {
        font-size: 10px;
    margin-top: 13px;
    margin-bottom: 14px;
 @media screen and (min-width: 500px) {
     font-size: 11px;
  margin-top: 20px;
  margin-bottom: 15px;
  }
    
 
 
  @media screen and (min-width: 1024px) {
    font-size: 21px;
    margin-top: 18px;
    margin-bottom: 20px;
  }
}

.hero-content a {
  padding: 10px 17px;
  background-color: var(--primary-color);
  color:var(--text-color);
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
  width: fit-content;
  @media screen and (min-width: 1024px) {
    padding: 17px 40px;
    border-radius: 5px;
    font-size: 21px;
  }
}

.hero-content a:hover {
  color:var(--text-color);
  text-decoration: underline;
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}
.hero-right {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  gap: 5px;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.hero-social {
  display: flex;
  align-items: center;
  animation: slideIn 5s ease-out 2s infinite forwards;
  opacity: 0; 
}

@keyframes slideIn {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.social-icon {
  text-decoration: none;
  color:var(--text-color);
}

.social-icon:hover {
  color: var(--primary-color);
  transition: color 0.3s ease;
}
.social-icon i {
  display: flex;
  width: 40px;
  height: 45px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  @media screen and (min-width: 500px) {
    width: 50px;
    height: 50px;
    font-size: 20px;
    
  }
}
/* styling about section */
.about-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  color: #000000;
  background-color:var(--text-color);
  margin-top: 50px;
  @media screen and (min-width: 1024px) {
    padding: 40px 187.5px;
  }
}

.primary-heading {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  white-space: nowrap;
  @media screen and (min-width: 1024px) {
    font-size: 40px;
    text-align: left;
  }
}

.about-section p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  @media screen and (min-width: 1024px) {
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
  }
}
.about-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
  @media screen and (min-width: 1024px) {
    gap: 30px;
    margin-top: 30px;
  }
}
.about-section ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 25px;
    padding: 15px;
  }
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 42.5px;
   border-top: 1px solid var(--border-color);
  @media screemn and (min-width:1024px){
    padding: 50px 187.5px;
  }
  
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.project-card {
  width: 300px;
  background-color: var(--border-color);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width:1024px){
      padding: 20px;
  }
}
.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.project-card h3 {
  font-size: 20px;
  font-weight: 500;
  color:var(--text-color);
  text-align: center;
  margin-top: 8px;
  @media screen and (min-width: 1024px) {
    font-size: 23px;
    margin-top: 10px;
  }
}

.project-card p {
  font-size: 14px;
  color:var(--text-color);
  text-align: left;
  margin-top: 5px;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}
.project-card a {
  padding: 8px 12px;
  background-color: var(--primary-color);
  color:var(--text-color);
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
  @media screen and (min-width: 1024px) {
    font-size: 18px;
    padding: 10px 20px;
  }
}
.project-card a:hover {
  color:var(--text-color);
  text-decoration: underline;
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}

/* styling experience card */
.experience-container {
     display: grid;
   
    grid-template-rows: repeat(2,1fr);
    /* grid-template-columns: repeat(3,1fr); */
     grid-template-columns: repeat(auto-fill,minmax(285px,1fr));
    gap: 2rem;
 
}
.experience-card {
  /* width: 300px; */
  background-color: var(--border-color);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width:1024px){
      padding: 20px;
  }
}

.experience-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
 
  @media screen and (min-width: 1024px) {
    font-size: 23px;

  }
}

.experience-card p {
  font-size: 14px;
  color:var(--text-color);
  text-align: left;
  margin-top: 5px;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}


/* styling contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 50px;
  border-top: 1px solid var(--border-color);
  @media screen and (min-width: 1024px) {
    padding: 50px 187.5px;
  }
}

.contact-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-title h2 {
  font-size: 45px;
  font-weight: 600;
  color:var(--text-color);
  text-align: center;
  @media screen and (min-width: 1024px) {
    font-size: 65px;
  }
}
.contact-title p {
  font-size: 18px;
  color:var(--text-color);
  text-align: center;
  @media screen and (min-width: 1024px) {
    font-size: 21px;
  }
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-input {
  padding: 13px;
  border-radius: 5px;
  border: none;
  background-color: var(--border-color);
  color:var(--text-color);
  font-size: 15px;
  @media screen and (min-width: 1024px) {
    font-size: 18px;
    padding: 15px;
  }
}
.submit-btn {
  padding: 13px;
  background-color: var(--primary-color);
  color:var(--text-color);
  border-radius: 5px;
  font-size: 19px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    font-size: 21px;
    padding: 15px;
  }
}

/* styling footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-top: var(--border-color) solid 2px;
  padding: 30px 0px;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  color:var(--text-color);
  text-align: center;
  @media screen and (min-width: 1024px) {
    font-size: 21px;
  }
}
footer p:nth-of-type(2) {
  color: var(--primary-color);
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 35px;
  @media screen and (min-width: 768px) {
    gap: 40px;
  }
  @media screen and (min-width: 1024px) {
    gap: 50px;
  }
}

.footer-social a {
  text-decoration: none;
  color:var(--text-color);
}

footer a img:hover {
  transform: scale(1.1);
  filter: brightness(0.6);
  transition: color 0.3s ease;
}
.footer-social img {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  @media screen and (min-width:1024px){
    width: 50px;
    height: 50px;
  }
}

#github {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  @media screen and (min-width:1024px){
    width: 60px;
    height: 60px;
  }
}
