* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width:1440px;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
}

@media screen and (min-width: 1441px){
       body{
        margin:0 auto;
    }
}
header{
    padding: 61px 0px 135px 62.5px;
    margin: 0px 187.5px;
    /* padding: 61px 187.5px 120px 250px; */
    align-items: center;
    display: flex;
    justify-content: right;
}
.main-nav{
    display: flex;
    gap:60px;
    align-items: center;
    padding: 8px 0px;
    
}
.main-nav a{
    text-decoration: none;
    color: #FFFFFF;
}
.main-nav ul{
    display:flex;
    list-style: none;
    gap:50px;
    font-size: 21px;
}

.download-btn{
    padding: 17px;
    background-color: #FD6F00;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 21px;
    text-decoration: none;
}

/* styling hero section */
.hero-section{
    display: flex;
    margin: 0px 187.5px;
    align-items: center;
    gap:110px;
}

.hero-content{
    width: 65%;
    padding: 97px 0px;
    display: flex;
    flex-direction: column;
}

.intro-text p{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}

.intro-text h2{
    font-size: 80px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 100px;
   
}
.intro-text h2 span{
    font-size: 32px;
    font-weight: 600;
    color: #FD6F00;
    text-align: left;
    line-height: 25px;
}

#description{
    font-size: 21px;
    margin-top: 28px;
    margin-bottom: 22px;
}

.hero-content a{
    padding: 17px 40px;
    background-color: #FD6F00;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 21px;
    text-decoration: none;
    width: fit-content;
}

.hero-image{
    width: 35%;
    display: flex;
    justify-content: center;
    height: 350px;
}