* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body ul li a {
    color: black;
    text-decoration: none;
    margin-left: 1rem;
    transition: transform all ease 0.3s;
}

body ul li a:hover {
    color: orange;
}

p {
    margin-bottom: 1rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 1rem;

}

body img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

body ul {
    list-style: none;
    display: flex;
}

section {
    scroll-margin-top: 160px;
}

/* Head Section */
.head {
    position: fixed;
    display: flex;
    padding: 2px 1rem;
    z-index: 1;
    background-color: #FDFAF6;
    width: 100%;
    top: 0;
    left: 0;

}

.head nav {
    position: absolute;
    right: 2rem;
    top: 1rem;

}

.head .ham-icon {
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
}

.head nav {
    visibility: hidden;
}

.overlay {
    z-index: 5;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: azure;
}

.overlay img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.overlay img:hover {
    transform: scale(1.2);
}

.overlay ul {
    flex-direction: column;

}

.overlay ul li {
    margin: 1rem;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.hero img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.hero div h4 {
    color: rgb(73, 71, 71);
}


/* Main About Section */

main #about .about-me {
    display: flex;
    flex-direction: column;
}


main #about a {
    text-decoration: none;
    background-color: rgb(58, 95, 240);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;

}

main #about a:hover {
    opacity: 0.8;
    color: white;
    background-color: rgb(4, 38, 174);
}

main #about .about-details {
    margin-top: 2rem;
    /* display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 1rem;
    padding: 1rem;
}

main #about .about-details>div {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
    background-color: rgb(218, 213, 213);
    border-radius: 18px;
    box-shadow: 0 4px 12px gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main #about .about-details>div:hover {
    box-shadow: 0 6px 18px gray;
    transform: translateY(-5px);
}

main #about .about-details span {
    display: flex;
    gap: 1rem;
}

/* Work Section */

main #academic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;

}

main #academic>div {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(218, 213, 213);
    border-radius: 18px;
    box-shadow: 0 4px 12px gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main #academic>div:hover {
    box-shadow: 0 6px 18px gray;
    transform: translateY(-5px);
}

main #academic>div ul {
    display: flex;
    list-style: circle;
    flex-direction: column;
    padding: 1rem;
}

main #academic>div .firstp {
    color: rgb(78, 78, 227);
}

/* Skills Section */

main #skills .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

main #skills .card {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(218, 213, 213);
    border-radius: 18px;

}

main #skills .card span {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

main #skills .card p {
    display: inline-block;
    background-color: rgb(185, 172, 172);
    padding: 8px;
    border-radius: 40%;
}

/* Projects Section */

main #projects>div {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

main #projects>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
}

main #projects>div>div ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

main #projects .tech-stack {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(218, 213, 213);
    border-radius: 18px;
}

main #projects .tech-stack p {
    display: inline-block;
    background-color: rgb(185, 172, 172);
    padding: 8px;
    border-radius: 40%;
}

/* Contact section */

main #contacts {
    margin: 2rem 0;
}

main #contacts>div {
    margin-bottom: 1rem;
}

main #contacts .contacts-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main #contacts .contact-information>div {
    display: flex;
    flex-direction: column;
}

main #contacts .contact-information>div ul {
    display: flex;
    flex-direction: column;
}

main .message-1 {
    font-size: medium;
    text-align: center;
}

main #contacts .message {
    font-size: medium;
}


main .contact-information ul li {
    display: flex;
    margin-bottom: 1rem;
}

main .contact-information ul li .content {
    margin-left: 1rem;

}

main .contact-information ul li .content span {
    font-weight: bold;
}

main .contact-information .social-media a img:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

main .contact-form {
    border: 1px solid black;
    max-width: max-content;
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 14px;
    box-shadow: 0 12px 12px gray;
    transition: box-shadow 0.3s ease;

}

main .contact-form:hover {
    box-shadow: 0 14px 14px rgb(50, 46, 46);
}

main .contact-form form div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

main .contact-form form input {
    border-radius: 4px;
    padding: 4px;
}

main .contact-form form textarea {
    width: 100%;
    height: 120px;
    font-size: 14px;
    padding: 8px;
}

main .contact-form form button {
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 2rem;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(58, 95, 240);
    color: white;
    transition: transform 0.3s ease;
}

main .contact-form form button:hover {

    background-color: rgb(4, 38, 174);
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

footer .top-footer {
    display: grid;

}

footer .top-footer>div {
    margin-bottom: 1rem;
}

footer .top-footer .info h3 {
    margin-bottom: 4px;
}

footer .top-footer .quick-links div ul {
    list-style: none;
    padding: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

footer .top-footer .quick-links div ul li {
    margin-top: 4px;
}

footer .top-footer .quick-links div ul li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

footer .top-footer .quick-links div ul li a:hover {
    opacity: 0.5;
    transition: transform 0.3s ease;
}

footer .top-footer .contact-info h3 {
    margin-bottom: 4px;
}

footer .top-footer .contact-info div p {
    margin-bottom: 4px;
}

/* footer .top-footer .social-media a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-sizing: border-box;
    margin-top: 4px;

} */

footer .top-footer .social-media a img:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

footer .bottom-footer {
    text-align: center;
}

@media screen and (min-width:426px) {
    footer .top-footer .social-media a {
        margin-left: 2px;
    }

    body {
        font-size: large;
    }

    footer .top-footer .social-media a img {
        width: 30px;
        height: 30px;
        margin-left: 4px;
    }
}

@media screen and (min-width:769px) {

    body {
        font-size: larger;
    }

    .head nav {
        visibility: visible;
    }

    .head .ham-icon {
        visibility: hidden;
    }

    .hero {
        flex-direction: row;
        gap: 2rem;
    }


    footer .top-footer {
        grid-auto-flow: column;
        column-gap: 2rem;
    }

    footer .top-footer .social-media a img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width:1025px) {
    body {
        font-size: x-large;
    }

    main #contacts .message-1 {
        font-size: large;

    }

    main #contacts .message {
        font-size: large;
    }

    main #about .about-me {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main #about .about-me>div {
        flex: 1 1 48%;
    }

    main #contacts {
        display: flex;
        flex-direction: column;
    }


    main #contacts .contacts-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 4rem;
    }

}